---
import { Image } from "astro:assets";

import logoImage from "@/assets/hero-img.png";
---

<section
  id="aboutus-container"
  class="flex flex-col md:flex-row items-center justify-center gap-8 px-6 py-16 overflow-hidden"
>
  <div class="w-full md:w-1/2 flex justify-center">
    <img
      src={logoImage.src}
      alt="hero imgage"
      width="80"
      height="50"
      class="rounded-2xl w-full max-w-md object-cover"
      loading="lazy"
    />
  </div>

  <div
    class="w-full md:w-1/2 max-w-3xl rounded-2xl border border-white/20 shadow-2xl overflow-hidden"
  >
    <div class="bg-gray-500/20 px-8 py-2 border-b border-white/20">
      <h2 class="text-sm font-semibold text-gray-200 text-left drop-shadow-md">
        Sobre el evento
      </h2>
    </div>

    <div
      class="p-8"
    >
      <p class="text-m text-left text-gray-200 font-medium mb-3">
        Forma parte de <span class="font-semibold text-white">
          el primer hackathon de UPIICSA</span>, donde la innovaci贸n y la cadena de suministro de
        unen.
      </p>

      <p class="text-left text-gray-200 text-m font-light leading-relaxed">
        Nuestro objetivo es impulsar el conocimiento, la creatividad y la colaboraci贸n dentro de la
        comunidad tecnol贸gica. <br>
        Atrevete a proponer soluciones innovadoras trabajando en equipo, aprendiendo sobre c贸mo es
        realizar un proyecto real ganando increibles premios, de la mano de nuestras comunidades
        estudiantiles de UPIICSA:
        <span class="text-cyan-500">Binary Brains</span> y
        <span class="text-green-500">ASCM</span>.
      </p>
    </div>
  </div>
</section>
