---
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button";
import logoImage from "@/assets/logo.png";
import { LUMA_LINK } from "@/utils/constants";
---
<nav class="liquid-glass w-full relative md:sticky top-4">
  <div class="glass pl-5 pr-8 py-4">
    <div class="relative flex flex-col md:flex-row md:justify-center md:items-center">
      <Image
        src={logoImage}
        class="w-28 h-20 md:w-14 md:h-10 self-center"
        alt="Logisttocs Hackathon logo"
      />
      <div class="flex-1 mt-1 mb-4 md:my-0">
        <ul class="flex flex-col md:flex-row justify-end font-medium text-white">
          <li><a href="#AboutUs" class="block py-2 px-3 hover:text-primary">Acerca de</a></li>
          <li><a href="#Communities" class="block py-2 px-3 hover:text-primary">Comunidades</a></li>
          <li><a href="#Sponsors" class="block py-2 px-3 hover:text-primary">Sponsors</a></li>
          <li><a href="#Judges" class="block py-2 px-3 hover:text-primary">Jueces</a></li>
          <li><a href="#Mentors" class="block py-2 px-3 hover:text-primary">Mentores</a></li>
        </ul>
      </div>
      <Button variant="primary">
        <a
          href={LUMA_LINK}
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Regístrate al evento Logistics Hackathon en Luma"
        >
          Regístrate
        </a>
      </Button>
    </div>
  </div>
  <div class="mix-blend-overlay glass-border" />
  <div class="mix-blend-screen opacity-25 glass-border" />
</nav>
