---
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button";
import logoImage from "@/assets/logo.png";
---
<nav class="liquid-glass w-full md:sticky top-4">
  <div class="glass pl-5 pr-8 py-4">
    <div class="relative flex flex-col md:flex-row md:justify-center md:items-center">
      <Image
        src={logoImage}
        class="w-28 h-20 md:w-14 md:h-10 self-center"
        alt="Logisttocs Hackathon logo"
      />
      <div class="flex-1 mt-1 mb-4 md:my-0">
        <ul class="flex flex-col md:flex-row justify-end font-medium text-white">
          <li><a href="#" class="block py-2 px-3 hover:text-primary">Fecha</a></li>
          <li><a href="#AboutUs" class="block py-2 px-3 hover:text-primary">Acerca de</a></li>
          <li><a href="#" class="block py-2 px-3 hover:text-primary">Retos</a></li>
          <li><a href="#" class="block py-2 px-3 hover:text-primary">Sponsors</a></li>
        </ul>
      </div>
      <Button className="w-full md:w-[185px] md:h-9 md:px-4 md:py-2 has-[>svg]:px-3">
        <a
          href="https://luma.com/a317pq6t"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Regístrate al evento Brainhack en Luma"
        >
          Regístrate
        </a>
      </Button>
    </div>
  </div>
  <div class="mix-blend-overlay glass-border" />
  <div class="mix-blend-screen opacity-25 glass-border" />
</nav>
