---
import { Image } from "astro:assets";
import { SPONSORS } from "@/data/sponsors.ts";
---

<section class="py-12 md:py-16 lg:py-20" id="Sponsors">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl text-white">
      Sponsors
    </h2>
    <p class="mt-4 max-w-2xl mx-auto text-xl text-gray-200">
      Agradecemos a todas las empressas y organizaciones que hacen posible Logistics Hackathon. Su
      apoyo nos peemite crear una experiencia única para todos los participantes.
    </p>

    <div class="mt-10">
      <div class="flex items-center justify-center md:justify-beetwen flex-wrap gap-8">
        {
          SPONSORS.map((sponsors) => (
            <Image
              src={sponsors.src}
              alt={sponsors.alt}
              width={sponsors.width}
              height={sponsors.height}
              class="h-24 w-min object-contain transition-all duration-300 transform hover:scale-105"
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
