---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Button } from "@/components/ui/button";
import { EVENT_DATE, LUMA_LINK } from "@/utils/constants";
import Aboutus from "@/components/astro/Aboutus.astro";
import Communities from "@/components/astro/communities.astro";
import Counter from "@/components/astro/Counter.astro";
import Sponsors from "@/components/astro/Sponsors.astro";
import Mentors from "@/components/astro/Mentors.astro";
import Judges from "@/components/astro/Judges.astro";
import { UploadProjectButton } from "@/components/react/UploadProject";
---
<BaseLayout title="Logistics Hackathon">
  <div
    class="flex flex-col items-center justify-center min-h-[calc(100vh-14rem)] md:min-h-[calc(100vh-4rem)] gap-8"
  >
    <h1 class="text-6xl font-bold text-white mb-8">Logistics Hackathon</h1>

    <Counter targetDate={EVENT_DATE} />

    <div class="flex gap-4">
      <Button variant="primary" disabled>
        <a
          href={LUMA_LINK}
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Regístrate al evento Brainhack en Luma"
        >
          Regístrate
        </a>
      </Button>
      <UploadProjectButton client:idle />
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center gap-8 pb-8"
  >
    <Aboutus />
    <Communities />
    <Sponsors />
    <Judges />
    <Mentors />
  </div>
</BaseLayout>
